@import url(https://db.onlinewebfonts.com/c/a0ad88db9143083e90b4dd56f9048334?family=Anurati);
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background:black;
}
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(#08ff12,#0791ff);
    mix-blend-mode: multiply;
}
.analog_clock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    margin-top: 10vh;
    top:0px;
    color: white;
    width:400px;
    height: 400px;
    border-radius: 100%;
    background-color: #2f2f2f;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px #ffff
}
.outer_outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    position: relative;
    top:0px;
    color: rgb(0, 0, 0);
    width:300px;
    height: 300px;
    border-radius: 100%;
    background-color: #cac7c7;
    border: 2px solid #cac7c7;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 10px 10px 15px rgb(255, 255, 255, 0.75),
    -15px -15px 35px rgb(255, 255, 255, 0.55),
    inset -1px -1px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers{
    /* position: absolute; */
    inset: 35px;
    text-align: center;
}
span{
    border: 10px solid transparent;
    position: absolute;
    text-align: center;
    inset: 5px;
    transform: rotate(calc(29.75deg*var(--i)));
}
b{
    font-size: 30px;
    position: absolute;
    transform: rotate(calc(-29.75deg*var(--i)));
}
#n12{
    transform: translateX(-8px);
}
.numbers ::before{
    content: "";
    position: absolute;
    inset: 40px;
    background: linear-gradient(red,blue);
    /* mix-blend-mode: multiply; */
    border-radius: 50%;
    animation: anm 2s linear infinite;
}
@keyframes anm {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.numbers ::after{
    content: "";
    position: absolute;
    inset: 42px;
    background-color: #cac7c7;
    border-radius: 50%;
}
.pointer{
    display: flex;
    justify-content: center;
}
.com{
    border-radius: 10px;
}
.hr {
    position: absolute;
    width: 5px;
    height: 22%;
    background-color:#2f2f2f ;
    transform-origin: top;
    transform :scaleY(1);
}
.min{
    position: absolute;
    width: 5px;
    height: 28%;
    background-color:#2f2f2f ;
    transform-origin: top;
    transform :scaleY(1);
}
.sec{
    position: absolute;
    width: 2px;
    height: 38%;
    background-color:red ;
    transform-origin: top;
    transform :scaleY(1);
    z-index: 7;
}
.dot{
    transform: translate(-1px,-10px);
    width: 20px;
    height: 20px;
    background-color: #2f2f2f;
    z-index: 5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.dot2{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    z-index: 6;
    border-radius: 100px;
}

.text_info{
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
    font-size: 80px;
    width: 100%;
}

.tt_time{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3px 1fr 3px 1fr;
    margin: 0px 0px;
}
p{
    margin: 0px 0px;
}
.horm{
    position: absolute;
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
.hor{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.day{
    text-align: center;
    height: 100px;
    font-family: "Anurati";
}
.tt_day{
    padding-left: 10px;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    font-family: "Anurati";
}
.tt_date{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.tt_mon{
    font-size: 40px;
    padding-left: 20px;
}
